@model Marketplace.Models.HomeViewModel

<div class="container">
    
    <div class="center-align">
        <h3>Modules for PowerShell Universal</h3>
        <h5>The PowerShell Universal Marketplace provides a collection of components built for PSU.</h5>
        <form asp-controller="Search" asp-action="Result" method="post" id="searchForm">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input id="searchText" name="searchText" type="text">
                <label for="searchText">Search</label>
            </div>
        </form>
    </div>

    <h5>Most Downloaded</h5>

    <div class="row">
        @foreach (var package in Model.MostDownloadedPackages)
        {
            <div class="col s12 m4">
                <partial name="ModuleInfoCard" model="@package" />
            </div>
        }

    </div>

    <h5>New</h5>

    <div class="row">
        @foreach (var package in Model.NewPackages)
        {
            <div class="col s12 m4">
                <partial name="ModuleInfoCard" model="@package" />
            </div>
        }
    </div>

    

    <div class="row">
        @{ var stats = Model.LastThirdyDaysStatistics.FirstOrDefault(); }
        @if (stats != null)
        {
            <h5>Metrics</h5>

            <div class="col l3 s12">
                <div class="card">
                    <div class="card-content center-align">
                        <span class="card-title">Modules</span>
                        <h3>@stats.TotalModules.ToString("N0")</h3>
                    </div>
                    <div class="card-action">
                        <a asp-controller="Browse" asp-action="Index">Browse</a>
                    </div>
                </div>
            </div>

            <div class="col l3 s12">
                <div class="card">
                    <div class="card-content center-align">
                        <span class="card-title">Controls</span>
                        <h3>@stats.TotalControls.ToString("N0")</h3>
                    </div>
                    <div class="card-action">
                        @{
                            var paramControl = new Dictionary<string, string>
                            {
                                { "type", "Control" }
                            };
                        }
                        <a asp-controller="Browse" asp-action="Index" asp-all-route-data="paramControl">Browse</a>
                    </div>
                </div>
            </div>

			<div class="col l3 s12">
                <div class="card">
                    <div class="card-content center-align">
                        <span class="card-title">Tools</span>
                        <h3>@stats.TotalTools.ToString("N0")</h3>
                    </div>
                    <div class="card-action">
                        @{
                            var paramTool = new Dictionary<string, string>
                            {
                                { "type", "Tool" }
                            };
                        }
                        <a asp-controller="Browse" asp-action="Index" asp-all-route-data="paramTool">Browse</a>
                    </div>
                </div>
            </div>

            <div class="col l3 s12">
                <div class="card">
                    <div class="card-content center-align">
                        <span class="card-title">Total Downloads</span>
                        <h3>@stats.TotalDownloads.ToString("N0")</h3>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>

